#skills{
    background-color: aquamarine;
}
.col{
    background-color: black;
}
.row{
    background: cornsilk;
}
.icon-paper-clip{
    background-color: deepskyblue;
}
a{
    background-color: floralwhite;
}